<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>All Concerts in Munich</title>
</head>
<body>
<slot/>
</body>
</html>

